@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap");

nav {
  padding: 0;
  border-bottom: 2px solid rgb(251, 94, 37);
}

body {
  background-color: rgba(239, 212, 178, 0.123);
  padding: 0 180px;
  position: relative;
}

footer {
  left: 0;
  right: 0;
  background-color: oklch(0.257 0.09 281.288);
  height: 120px;
}
.footer-color {
  background-color: oklch(0.257 0.09 281.288);
}
.hero-title {
  font-family: "Imperial Script", serif;
  font-size: 7rem;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.hero-sub-title,
.custom-font {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.underline-orange {
  text-decoration: underline;
  text-decoration-color: rgb(251, 94, 37);
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.swiper-button-next,
.swiper-button-prev {
  color: rgb(251, 94, 37) !important;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: rgb(108, 31, 3) !important; /* Darker red on hover */
}

.swiper-pagination-bullet {
  background-color: rgb(251, 94, 37) !important; /* Change dot color */
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: rgb(251, 94, 37) !important; /* Change active dot color */
  opacity: 1;
}
/* Contact Page */

.orange {
  background-color: rgb(251, 94, 37);
}
.orange-text {
  color: rgba(29, 9, 2, 0.922);
}

.orange-solid-text {
  color: rgb(251, 94, 37);
}

.about-justify {
  text-align: justify;
}

.orange-btn {
  background-color: rgb(251, 94, 37);
}
.reponse-msg {
  background-color: rgb(251, 94, 37);
  color: white;
  padding: 10px 0px 10px 10px;
  border-radius: 5px;
}

.title-blue {
  color: #4169e1;
  font-size: 3rem;
}

.title-blue-small {
  color: #4169e1;
  font-size: 1.5rem;
  font-weight: 600;
}
.title-pink {
  color: #ff1493;
  margin: 12px 0px;
  text-decoration: underline;
}

.card-category {
  padding: 8px 16px;
  margin: 0;

  border-radius: 3.40282e38px;
}

.pill-category:hover {
  border: solid 2px;
}

.top-btn {
  position: absolute;
  left: 0;
  top: 50%;
}
.bottom-btn {
  position: absolute;
  right: 0;
  top: 50%;
}

.childrensWritingColor {
  color: oklch(0.381 0.176 304.987);
  background-color: oklch(0.827 0.119 306.383);
  padding: 8px 10px;
}
.shortStoriesColor {
  color: oklch(0.396 0.141 25.723);
  background-color: oklch(0.808 0.114 19.571);
}

.travelogueColor {
  color: oklch(0.393 0.095 152.535);
  background-color: oklch(0.871 0.15 154.449);
}

.articleColor {
  color: oklch(0.421 0.095 57.708);
  background-color: oklch(0.945 0.129 101.54);
}

.novelColor {
  color: oklch(0.391 0.09 240.876);
  background-color: oklch(0.809 0.105 251.813);
}

.highlightColor {
  color: oklch(0.41 0.159 10.272);
  background-color: oklch(0.81 0.117 11.638);
}

.highlightHeading {
  color: oklch(0.378 0.077 168.94);
  border: solid 2px oklch(0.378 0.077 168.94);
}

.highlightTitle {
  font-size: 1.5rem !important;
  font-weight: 600;
}

.highlightTitlesmall {
  font-size: 1.1rem !important;
  font-weight: 600;
}

.color-none {
  background-color: transparent !important;
}

.travelogueHeading {
  color: oklch(0.393 0.095 152.535);
  border: solid 2px oklch(0.393 0.095 152.535);
}

.creativeHeading {
  color: oklch(0.393 0.095 152.535);
  border: none 2px oklch(0.393 0.095 152.535);
}

.articleHeading {
  color: oklch(0.421 0.095 57.708);
  border: solid 2px oklch(0.421 0.095 57.708);
}

.novelHeading {
  color: oklch(0.391 0.09 240.876);
  border: solid 2px oklch(0.391 0.09 240.876);
}

.shortstoryHeading {
  color: oklch(0.396 0.141 25.723);
  border: solid 2px oklch(0.396 0.141 25.723);
}

.childrensWritingHeading {
  color: oklch(0.381 0.176 304.987);
  border: solid 2px oklch(0.381 0.176 304.987);
}

.travelogueheadborder {
  border: solid 2px oklch(0.393 0.095 152.535);
}

.text-justify {
  text-align: justify;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 20px; /* Space between grid items */
  padding: 20px;
  align-items: stretch;
}

.green-arrow {
  filter: brightness(0) saturate(100%) invert(24%) sepia(40%) saturate(737%)
    hue-rotate(93deg) brightness(101%) contrast(102%);
}
.maroon-arrow {
  filter: brightness(0) saturate(100%) invert(26%) sepia(19%) saturate(2360%)
    hue-rotate(353deg) brightness(97%) contrast(96%);
}
.novel-arrow {
  filter: brightness(0) saturate(100%) invert(18%) sepia(61%) saturate(2054%)
    hue-rotate(175deg) brightness(99%) contrast(104%);
}

.shorts-arrow {
  filter: brightness(0) saturate(100%) invert(6%) sepia(99%) saturate(5133%)
    hue-rotate(348deg) brightness(95%) contrast(90%);
}

.childrens-arrow {
  filter: brightness(0) saturate(100%) invert(10%) sepia(74%) saturate(4862%)
    hue-rotate(272deg) brightness(89%) contrast(97%);
}

/*  */

/* Family page */

.family-name {
  background-color: rgba(251, 94, 37, 0.322);
  display: inline;
}

/*  */

@media screen and (max-width: 992px) {
  body {
    padding: 0 100px;
  }

  .image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 equal columns */
    gap: 20px; /* Space between grid items */
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 0 80px;
  }

  .image-gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 3 equal columns */
    gap: 20px; /* Space between grid items */
    padding: 20px;
  }
}

@media screen and (max-width: 552px) {
  body {
    padding: 0 24px;
  }
  .hero-title {
    font-size: 4rem;
    margin-top: 24px;
  }

  .image-gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 3 equal columns */
    gap: 20px; /* Space between grid items */
    padding: 20px;
  }
}
